.color {
    border: solid black 1px;
    display: inline-block;
}

.color.one {
    background-color: black;
    height: 50px;
    width: 50px;
    /* 
    Meu avaliador já diz que concluí o 3º requisito
    No entanto, não fiz alteração nenhuma depois do requisito 2
    Espero que não tenha dado problema pelo amor de Deus
     */
}

.color.two {
    background-color: red;
    height: 50px;
    width: 50px;
}

.color.three {
    background-color: blue;
    height: 50px;
    width: 50px;
}

.color.four {
    background-color: green;
    height: 50px;
    width: 50px;
}